<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <div class="mb-3">
        <label for="userName" class="form-label">User Name</label>
        <input formControlName="userName" type="name" class="form-control" id="userName" aria-describedby="nameHelp">

        <div *ngIf="userName.invalid && (userName.dirty || userName.touched)" class="alert">
            <div class="text-danger" *ngIf="userName.errors?.['required']">
                userName is required.
            </div>
            <div class="text-danger" *ngIf="userName.errors?.['pattern']">
                userName is not on right pattern.
            </div>
        </div>
    </div>

    <div class="mb-3">
        <label for="emailInput" class="form-label">Email address</label>
        <input formControlName="email" pattern="^[a-z0-9]+@[a-z]+\.[a-z]{2,3}$" type="email" class="form-control"
            id="emailInput" aria-describedby="emailHelp">

        <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert">
            <div class="text-danger" *ngIf="email.errors?.['required']">
                email is required.
            </div>
            <div class="text-danger" *ngIf="email.errors?.['pattern']">
                email is not in right pattern.
            </div>
        </div>
    </div>
    <div class=" mb-3">
        <label for="password" class="form-label">Password</label>
        <input formControlName="password" type="password" class="form-control" id="password">

        <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert">
            <div class="text-danger" *ngIf="password.errors?.['required']">
                password is required.
            </div>
        </div>
    </div>
    <div class="mb-3">
        <label for="confirmPassword" class="form-label">Confirm Password</label>
        <input formControlName="confirmPassword" type="password" class="form-control" id="confirmPassword">

        <div *ngIf=" (confirmPassword.dirty || confirmPassword.touched)" class="alert">
            <div class="text-danger" *ngIf="confirmPassword.invalid && confirmPassword.errors?.['required']">
                confirmPassword is required.
            </div>
            <div class="text-danger" *ngIf="!confirmPassword.errors?.['required'] && confirmPasswordIsMatch()">
                confirmPassword is not match.
            </div>
        </div>
    </div>
    <label for="where-you-hear-us" class="form-label">where you hear about us </label>
    <select formControlName="email" id="where-you-hear-us" class="form-select mb-3" aria-label="Default select example">
        <option selected>where you hear about us </option>
        <option *ngFor="let item of socialMedia" [value]="item">{{item}}</option>
    </select>

    <div *ngIf="fromWhereHeCome.invalid && (fromWhereHeCome.dirty || fromWhereHeCome.touched)" class="alert">
        <div class="text-danger" *ngIf="fromWhereHeCome.errors?.['required']">
            fromWhereHeCome is required.
        </div>
    </div>

    <p>Form Status: {{ formGroup.status }}</p>
    <button [disabled]="!formGroup.valid" type="submit" class="btn btn-primary">Submit</button>
</form>